@model IEnumerable<SismaV02.Models.Socio>
@section AddToHead{
    <link href="@Url.Content("~/Content/AdminLTE/plugins/datatables/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminLTE/css/skins/_all-skins.min.css" rel="stylesheet" />
}
@{
    ViewBag.Title = "Socios";
}

<h2>Socios</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<div class="box">
    <div class="box-header">
        <h3 class="box-title"> </h3>
    </div>

    <div class="box-body">
        <table id="listaModelo" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NomSocio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Paterno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Materno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomSocio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Paterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Materno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.CodSocio }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.CodSocio }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.CodSocio })
                        </td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NomSocio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Paterno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Materno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/DataTable")
}
