@model IEnumerable<SismaV02.Models.Lectura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ValorLectura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medidor.NroSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Periodo.CodPeriodo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ValorLectura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medidor.NroSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Periodo.CodPeriodo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodLectura }) |
            @Html.ActionLink("Details", "Details", new { id=item.CodLectura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CodLectura })
        </td>
    </tr>
}

</table>
