@model IEnumerable<SismaV02.Models.Lectura>
@section AddToHead{
    <link href="@Url.Content("~/Content/AdminLTE/plugins/datatables/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminLTE/css/skins/_all-skins.min.css" rel="stylesheet" />
}
@{
    ViewBag.Title = "Lecturas";
}

<h2>Lecturas</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<div class="box">
    <div class="box-header">
        <h3 class="box-title"> </h3>
    </div>

    <div class="box-body">
        <table id="listaModelo" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ValorLectura)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Medidor.NroSerie)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Periodo.CodPeriodo)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorLectura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Medidor.NroSerie)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Periodo.CodPeriodo)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.CodLectura }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.CodLectura }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.CodLectura })
                        </td>
                    </tr>
                }

            </tbody>

            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ValorLectura)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Medidor.NroSerie)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Periodo.CodPeriodo)
                    </th>
                    <th></th>
            </tfoot>
        </table>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/DataTable")
}

