@model IEnumerable<SismaV02.Models.Privilegio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DesPriv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DesPriv)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CodPrivil }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.CodPrivil }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CodPrivil })
        </td>
    </tr>
}

</table>
