@model SismaV02.Models.Usuario

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Estás seguro que quieres eliminar este registro?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoUsuario.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoUsuario.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit"  value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
