@model IEnumerable<SismaV02.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Materno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoginName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoUsuario.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Materno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoginName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoUsuario.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CodUsuario }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.CodUsuario }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CodUsuario })
        </td>
    </tr>
}

</table>
