@model IEnumerable<SismaV02.Models.Calle>

@{
    ViewBag.Title = "Calles";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomCalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Barrio.NomBarrio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomCalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Barrio.NomBarrio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodCalle }) |
            @Html.ActionLink("Details", "Details", new { id=item.CodCalle }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CodCalle })
        </td>
    </tr>
}

</table>
