@model IEnumerable<SismaV02.Models.Periodo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadDias)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadDias)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CodPeriodo }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.CodPeriodo }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CodPeriodo })
        </td>
    </tr>
}

</table>
